@import url ('https://fonts.google.com/specimen/Righteous');


.heroPicture{
    width:29rem;
    height:27rem;
    margin-top: 50px;
    margin-left:50px;
    position: relative;
    border-radius: 50%;
    border: 2px solid white;
    padding: 0;
}

.name{
    font-family: 'Righteous';
}

.heroBanner{
    margin-bottom:80px;
    /* background-color: rgba(150,168,175,0.5); */
    padding-bottom:90px;
}

.name{
    margin-top: 50px;
}

.heroInfo{
    z-index : 999;
}

.example{
    position:absolute !important;
    }