.projects{
    background-color:rgba(150,168,175,0.5); 
}


.bigcard{
display: flex;
flex-direction: row;
flex-wrap: wrap;
padding: 10px;
justify-content: space-between;
}

.projectsTitle{
    text-align: center;
    padding-top:30px;
}

.card-title{
    margin-bottom: 10px;
}

.thingsUsed{
    font-size: 20px;
    position: relative;
    top: 18px;
    left: 30px;
    padding-top:10px;
}

.describeUsed{
 font-size: 15px;
}

.iconsUsed{
    width: 2rem;
    height: 2em;
    position:relative;
    right:10px;
    bottom:20px;
}


.infoAndPicture{
    background-color: rgba(150,168,175,0.5); 
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}
.deployedURL{
    margin-right: 60px;
}

